.btn-color {
  background: #f84f70;
  color: #fff;
}
.color-money {
  color: #f84f70;
}

.banner-bg {
  background: #fceae8;
}

.bg-yellow {
  background-color: #fea73e;
}
.bg-pink {
  background-color: #da74d6;
}
.bg-blue {
  background-color: #347dfa;
}
